.pattern-background {
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
  
  .pattern-background.dark {
    background-color: #171923;
  }
  
  .pattern-background.light {
    background-color: #f8fafc;
    background-image: radial-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 0);
  }